# NeoVim Plugins and Plugin Manager (in `autoload`)
nvim/autoload/**
nvim/plugged/**

# TMux Plugins (including TPM as a plugin manager)
tmux/plugins/**

# PowerShell Modules
pwsh/Modules/**

# Auxiliary Toolchain
gh/**
omf/**
wslu/**
inkscape/**
fontforge/**
.gsd-keyboard.settings-ported
Code/**
dconf/**
evolution/**
gnome-control-center/**
gnome-initial-setup-done
goa-1.0/**
gtk-3.0/**
ibus/**
mimeapps.list
pulse/**
user-dirs.dirs
user-dirs.locale
systemd/**
google-chrome/**
bashtop/**
neofetch/**

# Auxiliary Files
**/.netrwhist
