# NeoVim Plugins and Plugin Manager (in `autoload`)
nvim/autoload/**
nvim/plugged/**

# TMux Plugins (including TPM as a plugin manager)
tmux/plugins/**

# Auxiliary Toolchain
gh/**
omf/**
wslu/**
inkscape/**

# Auxiliary Files
**/.netrwhist
